page-basket {
    .itemRight {
        position: absolute;
        right: 0px;        
        margin-top: -0.3rem;
    }
    .itemLeft {
        position: absolute;
        left: 0px;        
        margin-top: -0.3rem;
    }
    .itemTotal {
        background-color: #FF6600;;        
        color: white
    }
    .payment {
        padding-top: 5px;
    }
}
