page-basket {
    .itemRight {
        position: absolute;
        right: 0px;        
        margin-top: -0.3rem;
    }
    .itemLeft {
        position: absolute;
        left: 0px;        
        margin-top: -0.3rem;
    }
    .itemTotal {
        //background-color: #FF6600;        
        color: #FF6600;
    }
    .payment {
        ion-list-header {
            background-color: #FF6600;
            color: white;
            margin-bottom: 0;
        }
        padding-top: 15px;
    }
}
