<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Cadastro</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating>Nome Completo</ion-label>
    <ion-input [(ngModel)]="profile.fullName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Email</ion-label>    
    <ion-input [(ngModel)]="profile.email" [readonly]="isReadonly()"></ion-input>
  </ion-item>
  
  <ion-card>
    <ion-card-header (click)="showModal()">
      Selecionar Endereço
    </ion-card-header>
    <ion-item *ngIf="isAdressSelected()">
      <ion-label floating>Rua</ion-label>
      <ion-input [(ngModel)]="profile.street" [readonly]="isReadonly()" ></ion-input>
    </ion-item>
    <ion-item *ngIf="isAdressSelected()">
      <ion-label floating>Bairro</ion-label>
      <ion-input [(ngModel)]="profile.district" [readonly]="isReadonly()" ></ion-input>
    </ion-item>
    <ion-item *ngIf="isAdressSelected()">
      <ion-label floating>Cidade</ion-label>
      <ion-input [(ngModel)]="profile.city" [readonly]="isReadonly()" ></ion-input>
    </ion-item>
  </ion-card>
  <ion-item *ngIf="isAdressSelected()">
    <ion-label floating>Número</ion-label>
    <ion-input [(ngModel)]="profile.number"></ion-input>
  </ion-item>
  <ion-item *ngIf="isAdressSelected()">
    <ion-label floating>Complemento</ion-label>
    <ion-input [(ngModel)]="profile.additionalAdress"></ion-input>
  </ion-item>

  <button ion-button clear block (click)="saveProfile()">Salvar</button>
</ion-content>
