<ion-header>
  <ion-navbar>
    <ion-title>Pedido em Aberto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <form>
      <ion-list>
        <ion-item>
          <h2 class="itemLeft">Solicitante</h2>
          <h2 class="itemRight">{{order.user.fullName}}</h2>
        </ion-item>
        <ion-item>
          <h2 class="itemLeft">Endereço</h2>
          <h2 class="itemRight">{{order.user.street}}, {{order.user.number}} {{order.user.additionalAdress}} -  {{order.user.district}} -  {{order.user.city}} </h2>
        </ion-item>
        <ion-item>
          <h2 class="itemLeft">Data</h2>
          <h2 class="itemRight">{{order.dtOrder | date: 'dd/MM/yyyy H:mm'}}</h2>
        </ion-item>
        <ion-item>
          <h2 class="itemLeft">Total</h2>
          <h2 class="itemRight">{{order.total}}</h2>
        </ion-item>
        <ion-item>
          <h2 class="itemLeft">Produtos</h2>
          <ion-item *ngFor="let product of order.products">{{product.amount}}x {{product.name}}</ion-item>
        </ion-item>
      </ion-list>      
      <ion-item *ngIf="isEditDtDelivery">
        <ion-label>Prazo</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="dtDelivery" [ngModelOptions]="{standalone: true}"></ion-datetime>
      </ion-item>

      <ion-grid>
        <ion-row *ngIf="isEditDtDelivery">
          <ion-col col-6>
            <button ion-button full (click)="cancelDeliveryDate()">Cancelar</button>        
          </ion-col>
          <ion-col col-6>
              <button ion-button full (click)="saveDeliveryDate()">Salvar</button>        
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!isEditDtDelivery">
          <ion-col col-6>
            <button ion-button full (click)="setDeliveryDate()">Prazo de Entrega</button>        
          </ion-col>
          <ion-col col-6>
            <button ion-button full>Chat</button>            
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!isEditDtDelivery && order.status == 'Em Aberto'">
          <ion-col col-6>
            <button ion-button full>Cancelar Pedido</button>            
          </ion-col>
          <ion-col col-6>
            <button ion-button full>Aceitar Pedido</button>            
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!isEditDtDelivery && order.status == 'Aceito'">
          <ion-col col-6>
            <button ion-button full>Cancelar Pedido</button>            
          </ion-col>
            <ion-col col-6>
            <button ion-button full>Finalizar Pedido</button>            
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>