<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title start>Seu Pedido</ion-title>

    <ion-buttons end>
      <button ion-button (click)="comprar()">
        <ion-icon name="ios-basket-outline"> Comprar</ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="cards-bg">
  <ion-card *ngFor="let product of products$ | async">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-thumbnail>
            <img src="{{product.filePath}}" />
          </ion-thumbnail>
        </ion-col>
        <ion-col text-center>
          <h2>{{product.name}}</h2>
          <h2 class="price" >{{product.price | currency:'BRL':true}} un.</h2>
        </ion-col>
        <ion-col text-right>
          <h2 text-center color="blue" >{{product.subTotal | currency:'BRL':true}}</h2>
          <!-- *ngIf="product.subTotal != 0" -->
          <ion-icon name="remove-circle" (click)="decrement(product)" color></ion-icon>
          <span class="counter">{{product.quantidade}}</span>
          <ion-icon name="add-circle" (click)="increment(product)"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>