<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title start>Seu Pedido</ion-title>

    <ion-buttons end>
      <button ion-button (click)="comprar()">
        <ion-icon name="ios-basket-outline"> Comprar</ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="cards-bg">
  <ion-card *ngFor="let product of products">
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <ion-thumbnail>
            <img class="logo" src="{{product.filePath}}" />
          </ion-thumbnail>
        </ion-col>
        <ion-col text-center col-5>
          <div class="text">{{product.name}}</div>
          <div class="text">{{product.price | currency:'BRL':true}} un.</div>
          <img *ngIf="product.isGlass" class="recycle" src="assets/imgs/recycle.png" />
        </ion-col>
        <ion-col text-right col-4>
          <ion-icon name="add" class="info" tooltip="{{product.description}}" positionV="bottom"> info</ion-icon>
          <div text-center class="text">{{product.subTotal | currency:'BRL':true}}</div>
          <ion-icon name="remove-circle" class="icon-counter" (click)="decrement(product)"></ion-icon>
          <span class="counter">{{product.amount}}</span>
          <ion-icon name="add-circle" class="icon-counter" (click)="increment(product)"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>